---
import Layout from '../layouts/Layout.astro';
import Carousel from '../components/Carousel.astro';
import Voices from '../components/Voices.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    
<div class="bg-white overflow-x-clip py-10">
    <div class="">
      <div class="">
        <div class="flex justify-center">
          <img src="/hero.svg" fetchpriority="high" class="max-w-[500px] w-full h-full" />
        </div>
        <div class="w-full flex justify-center ">
          <img src="/hero_subtitle.svg"  class="max-w-[500px] w-full h-full" />
        </div>
   
          <p
            class="text-4xl text-center"
          >
          あいうえおかきくけこ
          </p>
          <p
            class="text-4xl text-center"
          >
          さしすせそ
          </p>
          <p
            class="text-4xl text-center"
          >
          かきくけこ
          </p>
      </div>
    </div>
    <Carousel />
    <Voices />
  </div>
  
</Layout>

