<!doctype html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="./_astro/index.CMOAjz5n.css" media="print" onload='this.media="all"' />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<slot />
	</body>
</html>
<style>
    body {
  font-family: 'BIZ UDPGothic', sans-serif;
}
</style>
